/* opinionated css defaults by simon jäger */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5rem;
}

p, ol, ul, dl, pre, figure {
  margin: 0 0 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem 1rem;
}

address {
  font-style: normal;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #212529;
}

td, th {
  padding: .5rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}